body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcefee; 
}

header {
    background-color: #526422; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 48px; 
    margin: 0;
}

p {
    font-size: 20px; 
    margin: 0;
}

/* About Section */
#about {
    padding: 20px;
    text-align: center;
    background-color: #f5f5dc; 
}
#Work {
    padding: 10px;
    text-align: center;
    background-color: #f5f5dc; 
}
#webdev {
    padding: 10px;
    text-align: center;
    background-color: #f5f5dc; 
}


/* Skills Section */
#skills {
    background-color: #fef6e4; 
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: disc; 
    padding: 0;
}

li {
    font-size: 24px; 
    margin-bottom: 10px;
}

/* Contact Section */
#contact {
    padding: 40px;
    background-color: #526422; 
    color: #fff;
    text-align: center;
}

a {
    color: #8f9779; 
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    text-decoration: underline;
    color: #8f9779; 
}
